*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    margin: 40px;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(120, 241, 201);
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 20px black;
    border-radius: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
input:hover{
    transform: scale(1,1.1);
    box-shadow: 3px 3px 10px orange;
}
#btn1{
        border: none;
        border-radius: 20px;
        padding:10px ;
        cursor: pointer;
        background-color: orange;
        margin: 20px;
}
#btn1:hover{
    transform: scale(1.2,1.2)

}